@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Space+Grotesk:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-display: "Space Grotesk", sans-serif;
  
  --color-editor-bg: #121212;
  --color-editor-sidebar: #1e1e1e;
  --color-editor-accent: #fcd34d; /* Amber-300 */
}

@layer base {
  body {
    @apply bg-editor-bg text-white font-sans antialiased;
  }
}

.canvas-container {
  box-shadow: 0 0 50px rgba(0,0,0,0.5);
  background-image: 
    linear-gradient(45deg, #1a1a1a 25%, transparent 25%),
    linear-gradient(-45deg, #1a1a1a 25%, transparent 25%),
    linear-gradient(45deg, transparent 75%, #1a1a1a 75%),
    linear-gradient(-45deg, transparent 75%, #1a1a1a 75%);
  background-size: 20px 20px;
  background-position: 0 0, 0 10px, 10px -10px, -10px 0px;
}

